//
  // Firedux Utilities
  fd-util-switch(
    if="true")
    then
    catch

  fd-util-switch(
    promise="$data.$save({plop:plop})"
    then="$ctrl.$then($data)"
    catch="$ctrl.$catch($error)")
    before
    then
    catch

  fd-util-switch(
    current="a")
    array
      fd-util-switch-item(
      item="a")
      fd-util-switch-item(
      item="b")

  // Firedux
  fd-ref(
    ng-if="$ctrl.$ref"
    fd-ref-path="state/{{$ctrl.$ref}}"
    fd-ref-query="$ctrl.$query"
    then="$then($data)"
    catch="$catch($error)")
    before
    then
    catch

  fd-bind(
    fd-bind-path=""
    then=""
    catch="")
    before
    then
    catch

  fd-api(
    fd-api-endpoint="search"
    fd-api-request="$ctrl.$request"
    then="result=$data"
    catch="error=$error")
    before
    then
    catch

  fd-auth(
    on-auth-data="$data")
    before
    then
    catch

  fd-login(
    fd-login-provider="{{$ctrl.provider}}"
    fd-login-popup="$mdMedia('gt-md')"
    fd-login-redirect="!$mdMedia('gt-md')")
    before
    then
    catch

  fd-state(
    fd-state-path=""
    fd-state-query=""
    then="$ctrl.$then($data)"
    catch="$ctrl.$catch($error)")
    before
    then
    catch

  fd-dispatcher(
    fd-dispatcher-action="$ctrl.$action")

  fd-env(
    fd-env-constant="categories"
    fd-env-array
    then="categories=$data")

  fd-upload(
    fd-upload-file=""
    fd-upload-filename=""
    then=""
    catch=""
    before="")
    before
    then
    catch


  // Webcat
  wc-progress(wc-progress-type="linear")
  wc-progress(wc-progress-type="circular")
  wc-progress(
    wc-progess-type="linear"
    wc-progress-percentage="60")

  wc-toast(wc-toast-message="")

  wc-ui-redirect(wc-ui-redirect-sref="")

  // https://github.com/eligrey/FileSaver.js
  wc-download(
    wc-download-type="text/plain;charset=utf-8"
    wc-download-file=""
    wc-download-filename="plop.csv")

  wc-image(
    wc-image-dimensions=""
    wc-image-data=""
    wc-image-placeholder=""
    on-image-change="image=$data")

  wc-dialog(
    wc-dialog-component="my-dialog")
    then
    catch

  wc-dialog(wc-dialog-progress="percentage")

  wc-dialog(
    wc-dialog-login="email twitter email"
    wc-dialog-labels="")
    then

  wc-dialog(
    wc-dialog-login="email facebook twitter")

  wc-dialog(
    wc-dialog-confirm
    wc-dialog-title=""
    wc-dialog-body="")
    then
    catch

  wc-stripe-verify(
    wc-stripe-card-number=""
    wc-stripe-card-expiry=""
    wc-stripe-card-cvc="")
    then
    catch

  wc-stripe-create-token(
    wc-stripe-card-number=""
    wc-stripe-card-expiry=""
    wc-stripe-card-cvc=""
    wc-stripe-card-name=""
    wc-stripe-address=""
    on-stripe-token="token=$token")
    then
    catch

  wc-stripe-card-preview(
    wc-stripe-card=""
    wc-stripe-card-can-edit
    on-stripe-card-edit="")

