div(
  ng-if="$ctrl.$class"
  ng-class="$ctrl.$class"
  ng-click="$ctrl.$run()")
then(
  ng-if="$ctrl.$ready"
  ng-transclude="then")
wc-toast(
  ng-if="$ctrl.$error"
  wc-toast-message="{{$ctrl.$error}}"
  ng-transclude="catch")
