p(
medium-editor
ng-if="$ctrl.show && ($ctrl.authData || $ctrl.data)"
bind-options="$ctrl.settings"
data-placeholder="{{$ctrl.placeholder}}"
ng-model="$ctrl.data"
ng-blur="$ctrl.onUpdate({$data:$ctrl.data})"
ng-href="{{$ctrl.wcHref}}")