firedux(
ng-if="$ctrl.reducer && $ctrl.userId && $ctrl.request"
object-ref="api/{{$ctrl.reducer}}/{{$ctrl.userId}}/response"
on-data="$ctrl.onData({$data:$data})"
on-ready="$ctrl.onReady($data)")
firedux(
ng-if="$ctrl.reducer && $ctrl.userId"
object-ref="api/{{$ctrl.reducer}}/{{$ctrl.userId}}/request"
on-ready="$ctrl.requestReady($data)")

firedux(
ng-if="$ctrl.action && $ctrl.userId && $ctrl.request"
object-ref="api/{{$ctrl.action}}/{{$ctrl.userId}}/response"
on-data="$ctrl.onData({$data:$data})"
on-ready="$ctrl.onReady($data)")
firedux(
ng-if="$ctrl.action && $ctrl.userId"
object-ref="api/{{$ctrl.action}}/{{$ctrl.userId}}/request"
on-ready="$ctrl.requestReady($data)")



