
// REDUCER ARRAY RESPONSE
firedux(
ng-if="$ctrl.reducer && $ctrl.userId && $ctrl.request && $ctrl.sendArray"
array-ref="api/{{$ctrl.reducer}}/responses/{{$ctrl.userId}}"
on-data="$ctrl.onDataArray({$data:$data})"
on-ready="$ctrl.onReady($data)")
// REDUCER OBJECT RESPONSE
firedux(
ng-if="$ctrl.reducer && $ctrl.userId && $ctrl.request && !$ctrl.sendArray"
object-ref="api/{{$ctrl.reducer}}/responses/{{$ctrl.userId}}"
on-data="$ctrl.onData({$data:$data})"
on-ready="$ctrl.onReady($data)")
// REDUCER REQUEST
firedux(
ng-if="$ctrl.reducer && $ctrl.userId"
object-ref="api/{{$ctrl.reducer}}/requests/{{$ctrl.userId}}"
on-ready="$ctrl.requestReady($data)")

// ACTION RESPONSE
firedux(
ng-if="$ctrl.action && $ctrl.userId && $ctrl.request"
object-ref="api/{{$ctrl.action}}/responses/{{$ctrl.userId}}"
on-data="$ctrl.onData({$data:$data})"
on-ready="$ctrl.onReady($data)")
// ACTION REQUEST
firedux(
ng-if="$ctrl.action && $ctrl.userId"
object-ref="api/{{$ctrl.action}}/requests/{{$ctrl.userId}}"
on-ready="$ctrl.requestReady($data)")



