firedux(
ng-if="$ctrl.method && $ctrl.userId && $ctrl.request"
object-ref="api/{{$ctrl.method}}/{{$ctrl.userId}}/response"
on-data="$ctrl.onData({$data:$data})"
on-ready="$ctrl.onReady($data)")
firedux(
ng-if="$ctrl.method && $ctrl.userId"
object-ref="api/{{$ctrl.method}}/{{$ctrl.userId}}/request"
on-ready="$ctrl.requestReady($data)")

