input.hidden-input(
  ng-if="$ctrl.wcUploadDimensions"
  type="file"
  ngf-select="$ctrl.$then($file)"
  ngf-multiple="$ctrl.wcUploadMultiple"
  accept="image/*"
  ngf-resize="$ctrl.wcUploadDimensions")
input.hidden-input(
  ng-if="!$ctrl.wcUploadDimensions"
  type="file"
  ngf-select="$ctrl.$then($file)"
  ngf-multiple="$ctrl.wcUploadMultiple")
div(ng-transclude="then" ng-if="$ctrl.$ready") 