input.hidden-input(
  type="file"
  ngf-select="$ctrl.$then($file)"
  ngf-multiple="$ctrl.wcUploadMultiple"
  accept="image/*"
  ngf-resize="$ctrl.dimensions")
div(
  ng-transclude="then"
  ng-if="$ctrl.$ready")