md-dialog(aria-label="Select").firedux-dialog
  md-toolbar.md-whiteframe-2dp(style="z-index:3")
    .md-toolbar-tools
      h2|Change Password
      div(flex)
  md-dialog-content(layout="column" layout-padding)
    form(ng-submit="$ctrl.password===$ctrl.pass2?$ctrl.hide($ctrl.password):null")
      md-input-container.no-messages.md-block
        label|New Password
        input(
        type="password"
        ng-model="$ctrl.password")
      md-input-container.no-messages.md-block
        label|Re Enter Password
        input(
        type="password"
        ng-model="$ctrl.pass2")  
  md-dialog-actions
    div(flex)
    md-button(ng-click="$ctrl.cancel()")|cancel
    md-button.md-accent(
    ng-disabled="$ctrl.password!==$ctrl.pass2 || $ctrl.password.length < 6"
    ng-click="$ctrl.password===$ctrl.pass2?$ctrl.hide($ctrl.password):null")|Save
  