firedux(
ng-if="$ctrl.params.async"
array-ref="{{$ctrl.params.ref}}"
on-data="$ctrl.items=$data")
md-dialog(aria-label="Select")
  md-toolbar.md-whiteframe-2dp(style="z-index:3")
    .md-toolbar-tools
      h2|{{$ctrl.title}}
      div(flex)
  md-dialog-content
    md-progress-linear(
    ng-if="!$ctrl.items"
    md-mode="indeterminate")
    md-list
      md-list-item(
      ng-click="$ctrl.hide(item.$id)"
      ng-repeat="item in $ctrl.items"
      ng-style="{fontWeight:item.$id===$ctrl.params.default?700:400}")
        |{{item.title}}
  md-dialog-actions
    div(flex)
    md-button(ng-click="$ctrl.cancel()")|cancel
  