then(
  ng-if="$ctrl.$ready"
  ng-transclude="then")
catch(
  ng-if="$ctrl.$error"
  ng-transclude="catch")
after(
  ng-if="$ctrl.$after"
  ng-transclude="after")
#webcatDialogTemplate.md-dialog-container(
  ng-if="$ctrl.$template")
  md-dialog
    div(
      style={
        display: 'flex',
        position: 'relative'
      }
      ng-transclude="wcDialogTemplate")
  