then(
  ng-if="$ctrl.$ready"
  ng-transclude="then")
catch(
  ng-if="$ctrl.$error"
  ng-transclude="catch")
#webcatDialogTemplate.md-dialog-container(
  ng-if="$ctrl.$template")
  md-dialog
    div(
      ng-transclude="wcDialogTemplate")
  