.md-display-1|wc-dialog
.md-headline|Alert

md-button(
  ng-click="$ctrl.$alert=true")|Open Dialog
wc-dialog(  
  ng-if="$ctrl.$alert"
  wc-dialog-confirm="true"
  wc-dialog-labels="{title:'Alert'}"
  then="$ctrl.$alert=false")
  catch|ERROR

.md-headline|Progress

md-button(
  ng-click="$ctrl.$progress=true")|Open Dialog
wc-dialog(  
  ng-if="$ctrl.$progress"
  wc-dialog-progress="30"
  wc-dialog-labels="{title:'Progress'}")  
  
  
.md-headline|Login

md-button(
  ng-click="$ctrl.$login=true")|Open Dialog
wc-dialog(  
  ng-if="$ctrl.$login"
  wc-dialog-login="email facebook"
  wc-dialog-labels="{title:'Login'}"
  then="$ctrl.$loginData=$data")
  then
    fd-login(
      fd-login-provider="{{$ctrl.$loginData.provider}}"
      fd-login-popup="$mdMedia('gt-md')"
      fd-login-redirect="!$mdMedia('gt-md')"
      fd-login-credentials="$ctrl.$loginData.credentials"
      then=""
      catch="")
      before
      then
        p|LOGIN SUCCESS
      catch
        p|LOGIN ERROR
        
        
.md-headline|Template

md-button(
  ng-click="$ctrl.$template=true")|Open Dialog
wc-dialog(
  wc-dialog-template="true"
  ng-if="$ctrl.$template")
  wc-dialog-template
    h1|This text is templated lolz
  wc-dialog-template-actions
    md-button(
      ng-click="$ctrl.$template=false")|close
  