.settingsWrapper(
ng-style="{marginTop: $ctrl.marginTop}"
ng-class="'{{$ctrl.align}}'"
ng-if="$ctrl.authData")
  md-menu.toolbar-menu(
  md-theme="wc-settings"
  md-position-mode="target-{{$ctrl.align||'right'}} target"
  ng-class="'position-{{$ctrl.position}}'")
    md-button.md-icon-button.toolbar-button(
    ng-click="$mdOpenMenu(ev)")
      md-icon.wcSettingsOrigin(md-menu-origin)|{{$ctrl.icon||'settings'}}
    md-menu-content(width="{{$ctrl.width || 3}}")
      div(ng-transclude)