.md-display-1|fd-env
.md-headline|Text, Object, Number
fd-env(
  fd-env-constant="test1"
  then="$test1=$data")
  before
    |LOADING
  then
    |SUCCESS
  catch
    |ERROR
p|{{$test1}}

.md-headline|Array
fd-env(
  fd-env-constant="test2"
  fd-env-array="true"
  then="$test2=$data")
  before
    |LOADING
  then
    |SUCCESS
  catch
    |ERROR
p|{{$test2}}