fd-ref(
  ng-if="$ctrl.$path"
  fd-ref-path="{{$ctrl.$path}}"
  fd-ref-array="$ctrl.$array"
  then="$ctrl.$then($data)"
  catch="$ctrl.$catch($error)")
  before(ng-transclude="before")
  then(ng-transclude="then")
  catch(ng-transclude="catch")
