fd-set(
  ng-if="$ctrl.$path"
  fd-set-path="{{$ctrl.$path}}"
  fd-set-data="$ctrl.$request"
  fd-set-presence="true"
  catch="$ctrl.$catch($error)")
  then
    fd-ref(
      fd-ref-path="{{$ctrl.$path}}/response"
      fd-ref-array="$ctrl.$isArray"
      then="$ctrl.$then($data)"
      catch="$ctrl.$catch($error)")

before(
  ng-if="$ctrl.$before"
  ng-transclude="before")
then(
  ng-if="$ctrl.$ready"
  ng-transclude="then")
catch(
  ng-if="$ctrl.$error"
  ng-transclude="catch")
  